<div class="searchbox" 
fxLayout="row"
fxLayoutAlign="center"
fxLayoutGap="50px"
fxLayoutWrap="wrap">
    <div fxFlex="500px">
       <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <input class="find" type="search"  placeholder=" Rechercher dans les animations"  name="search_terms" >
    </div>
    <div class="filtres" fxFlex="360px">
        <input type="checkbox" id="cbox1" value="checkbox1" checked><label>Numérique éducatif</label>
        <input type="checkbox" id="cbox2" value="checkbox2" checked><label>Évènement</label>
        <input type="checkbox" id="cbox3" value="checkbox3" checked><label>Ressources éducatives et culturelles</label>
    </div>   
</div>
<div class="container"
     fxLayout="row"
     fxLayoutGap="30px" 
     fxLayoutWrap="wrap"
     fxLayoutAlign="center">
     
     <h1 class="titreAnim">Octobre</h1>
	 <div class="animations" fxFlex="380px"   *ngFor="let animation of animationsOctobre" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>      
        </div>  
    </div>
    <hr class="separateur">
    <h1 class="titreAnim">Novembre</h1>
    <div class="clear"></div>  
    <div class="animations" fxFlex="380px"   *ngFor="let animation of animationsNovembre" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>        
        </div>     
    </div>
     <hr class="separateur">
     <h1 class="titreAnim">Décembre</h1>
     <div fxFlex="380px"   *ngFor="let animation of animationsDecembre" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>      
        </div>  
    </div>
     <hr class="separateur">
     <h1 class="titreAnim">Janvier</h1>
     <div fxFlex="380px"   *ngFor="let animation of animationsJanvier" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>      
        </div>  
    </div>
     <hr class="separateur">
     <h1 class="titreAnim">Février</h1>
     <div fxFlex="380px"   *ngFor="let animation of animationsFevrier" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>      
        </div>  
    </div>
    <hr class="separateur">
     <h1 class="titreAnim">Mars</h1>
     <div fxFlex="380px"   *ngFor="let animation of animationsMars" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>      
        </div>  
    </div>
     <hr class="separateur">
     <h1 class="titreAnim">Avril</h1>
     <div fxFlex="380px"   *ngFor="let animation of animationsAvril" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>      
        </div>  
    </div>
     <hr class="separateur">
     <h1 class="titreAnim">Mai</h1>
     <div class="animations" fxFlex="380px"   *ngFor="let animation of animationsMai" >
          <div class="panneau"  >
            <div *ngIf="animation.field_categorie=='TICE'" class="ribbon-wrapper-green"><div class="ribbon-green">{{animation.field_categorie}}</div></div>
            <div class="top_panneau"
                fxLayout="row"
                fxLayoutGap="8px"
                fxLayoutWrap="nowrap"
                (click)="reduit(animation)"
                >
                <div fxFlex="80px" class="circle">
                    <div  class="jour">{{animation.field_jour}}</div>
                    <div  class="mois">{{animation.field_mois}}</div>
                </div>
                <div fxFlex="80%" class="titre">{{animation.title}}</div>
            </div>
            <div fxflex="100%" class="infos">
                 <hr class="separateur" [ngClass]="{'reduit': !animation.isOpen}">
                 <div fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="end"
                    fxLayoutGap="10px">
                    <div fxFlex class="description" [ngClass]="{'reduit': !animation.isOpen }">{{animation.body}}</div>
                    <img class="image img-rounded" [ngClass]="{'reduit': !animation.isOpen }"[src]="animation.field_image" />
                 </div>
                 <br/>
                 <div  
                    fxLayout="row"
                    fxLayoutWrap="noWrap"
                    fxLayoutAlign="center start">
                    
                    <div fxFlex class="lieu" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_lieu}}
                    </div>
                    <div fxFlex="100px" class="horaires" [ngClass]="{'reduit': !animation.isOpen }">{{animation.field_horaire}}</div>
                 </div>
                 <br/>
            </div>
            <div  class="evenement" [ngClass]="{'reduit': !animation.isOpen }"
                fxLayout="row"
                fxLayoutGap="4px"
                fxLayoutWrap="nowrap"
                fxLayoutAlign="space-between end">
                
               <button type="button" class="btn btn-info plusinfos" [ngClass]="{'reduit': !animation.isOpen }"> > en savoir plus</button>
                <div fxFlex="95px">
                    <button type="button" class="btn btn-primary inscription" [ngClass]="{'reduit': !animation.isOpen }">inscription</button>
                </div>
            </div>      
        </div>  
    </div>


</div>

