
/* éléments des animations */
.animations {
  clear: left;
}
/* couleurs */
/* 
bleu : 98	198	232		
rose : 247	108	156	
orange : 238	113	42	
vert pale : 103	190	163	
rouge : 230	51	41
*/

.moisAnims {
  font-family: 'simplon-regular', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  width: 100%;
  height: 45px;
  padding-top: 5px;
  text-align: center;
  clear: both;
  background-color: white;
  color:rgb(20,72,72);
}
.clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}
.panneau {
  /*background: linear-gradient(white 0%, lightgrey 100%);*/
  border-radius: 5px;
  padding: 20px 0px;
  margin-bottom: 30px;
  /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
  position: relative;
  text-align: left;
  overflow: hidden;


}
.top_panneau {
  font-family: 'simplon-regular', sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
.mercredi-info {
  background-color:  rgb(238,113,42);
  color: white;
  margin: 0px 10px;
  padding: 0px 10px;
}
.masterclasse-info {
  background-color: rgb(98,198,232);
  color: white;
  margin: 0px 10px;
  padding: 0px 10px;
}
.conference-info {
  background-color: rgb(247,108,156);
  color: white;
  margin: 0px 10px;
  padding: 0px 10px;
}
.animation-info {
  background-color: rgb(103,190,163);
  color: white;
  margin: 0px 10px;
  padding: 0px 10px;
}

div.mercredi {
  background-color:   rgb(238,113,42);
  color: white;
}
label.mercredi {
  color : rgb(238,113,42);
}

div.masterclasse {
  background-color :rgb(98,198,232);
  color:white;
}
label.masterclasse {
  color : rgb(98,198,232);
}
div.conference {
  background-color:rgb(247,108,156);
  color: white;
}
label.conference {
  color:rgb(247,108,156);
}
div.animation {
  background-color:rgb(103,190,163);
  color: white;
}
label.animation {
  color : rgb(103,190,163);
}

.panneau.a hover{
  text-decoration: none;
}
.infos {
  margin : 0 10px;
}
.evenement {
   margin: 0;
   overflow: hidden;
   font-family: 'caecilia-roman', sans-serif;
}
.infos.reduit,
.description.reduit,
.lieu.reduit,
.horaires.reduit,
.image.reduit,
.evenement.reduit,
.inscription.reduit,
.plusinfos.reduit,
hr.reduit {
  display: none;
}
.date.reduit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding : 0px 10px;
}
.type {
  text-align : right;
  color: darkred;
  margin-right: 2px;
}
.jour {
  font-family: 'simplon-bold', sans-serif;
  font-size: 5em;
  background-color:none;
  font-stretch: condensed !important;
  text-align: right;
  width: 100%;
  height: 100%;
  padding-right: 10px;
  margin-top : -15px;
}
.titre {
  font-family: 'simplon--medium', sans-serif;
  color: white;
  font-size:large ;
  text-align: left;
  padding-right: 30px;
  text-transform: uppercase;
  margin:auto;
}
.description {
  font-size: medium;
  box-sizing: content-box;
  text-align: justify !important;
}
.lieu {
  font-family : "caecilia-bold";
  padding-top: 6px;
  font-weight: bold !important;
  font-size: medium;
}
.horaires {
  font-family : "caecilia-bold";
  font-weight: bold !important;
  font-size: x-large;
  padding-top: 6px;
  padding-left: 5px;
  text-align: left;
}
.separateur {
	border-top: 1px dashed #8c8b8b;
  width: 100%;
}
.espace {
  height: 20px;
  border: none;
}
.inscription {
  color: whitesmoke;
  font-size: small;
  /*
  position: absolute;
  margin-right:-4px;
  bottom: 12px;
  right: -4px;
  */
  width: 150px;
  background-color: rgb(0, 105, 120) !important;
  border-color: rgb(0, 105, 120) !important;
}
a.btnAction, a.btnAction:link, a.btnAction:visited, a.btnAction:hover, a.btnAction:active  {
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 45px 5px 15px;
  background-image: url(../assets/white-arrow-right.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.plusinfos {
  float:right;
  margin-left:-4px;
}
.rect_100 {
  width: 100px;
  height: 140px;
  overflow: hidden;
}
.image {
  width: 100px;
  object-fit: cover;
  height: auto;
}
blockquote {
  white-space: pre-line;
}
.date {
  background-color: whitesmoke;
  margin-right:0px;
}
/* Recherche et filtres */
[type="search"] {
   -webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
}
.searchbox {
  width:100%;
  margin: auto;
  padding-bottom: 60px;
  text-align: center;
  
}
.searchbox span {
  font-size: xx-large;
  color: grey;
  padding-right: 20px;
  top: 10px;
}
.find {
  font-size: x-large;
  width: 380px;
  margin-top: 70px;
  border-radius: 5px;
  margin-left:10px;
}
.searchbox label {
  display: inline-block;
  width:340px;
  padding-bottom: 20px;
  font-size: large;
  text-align: left;
  padding-left: 10px;
  
}
.filtres {
  padding-top: 30px;
}
.filtres div {
  padding-top:5px;
  font-size: 1.5em;
  font-family : "simplon-regular";
  /*font-family: 'Titillium Web', sans-serif;
  font-style: italic;*/
  text-transform: uppercase;
}

[type="checkbox"] {
    width: 20px;
    float: left;
}