body {
    font-family: 'Voces', cursive !important;
    text-align: center;
    background-color: whitesmoke !important;
}
.logo {
  width: 800px;
}
.container {
  float: left; 
  width: 100% !important;
  margin: 10px;
}

/* éléments des animations */
.animations {
  clear: left;
}
.titreAnim {
  width: 100%;
  text-align: center;
  clear: both;
}
.clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}
.panneau {
  /*background: linear-gradient(white 0%, lightgrey 100%);*/
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;

}
.panneau.a hover{
  text-decoration: none;
}
.description.reduit,
.lieu.reduit,
.horaires.reduit,
.image.reduit,
.evenement.reduit,
.inscription.reduit,
.plusinfos.reduit,
hr.reduit {
  display: none;
}
.date.reduit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding : 0px 10px;
}
.type {
  text-align : right;
  color: darkred;
  margin-right: 2px;
}
.titre {
  color: darkslategrey;
  font-size:x-large ;
  text-align: left;
  margin-top: -10px;
  text-transform: uppercase;
  /*désactive la sélection du titre*/
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none; 
  -o-user-select: none;
  user-select: none; 
}
.description {
  font-size: medium;
  box-sizing: content-box;
  text-align: justify !important;
  
}
.lieu {
  padding-top: 6px;
  font-weight: bold !important;
  font-size: medium;
}

.horaires {
  font-weight: bold !important;
  font-size: medium;
  padding-top: 6px;
  text-align: right;
}
.separateur {
	border-top: 1px dashed #8c8b8b;
  width: 100%;
}
.jour {
  font-size: 3.5em;
  margin-top: -8px;
  font-stretch: condensed !important;
  color: white;
}
.mois {
  font-size: small;
  text-transform: uppercase;
  margin-top: -15px;
  color: white;
}
.circle {
  background: darkslategrey;
  display: table-cell;
  margin: -15px 10px 0 -15px;
  width: 80px;
  height:80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
	/* width and height can be anything, as long as they're equal */
}

.inscription {
  color: slategrey;
  font-size: small;
  float: right;
}
.plusinfos {
  float:right;
}

.image {
  width: 100px;
  height: 100px;
}

blockquote {
  white-space: pre-line;
}



/* Recherche et filtres */
[type="search"] {
   -webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
}
.searchbox {
  width:100%;
  margin: auto;
  padding-bottom: 60px;
  text-align: center;
  
}
.searchbox span {
  font-size: xx-large;
  color: grey;
  padding-right: 20px;
  top: 10px;
}
.find {
  font-size: x-large;
  width: 380px;
  margin-top: 70px;
  border-radius: 5px;
  margin-left:10px;
}
.searchbox label {
  display: inline-block;
  width:340px;
  padding-bottom: 20px;
  font-size: large;
  text-align: left;
  padding-left: 10px;
  
}
.filtres {
  padding-top: 30px;
}

[type="checkbox"] {
    width: 20px;
    float: left;
}