
/* éléments des animations */
.animations {
  clear: left;
}
.titreAnim {
  font-family: 'Titillium Web', sans-serif;
  font-style: normal;
  width: 100%;
  text-align: center;
  clear: both;
}
.clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}
.panneau {
  /*background: linear-gradient(white 0%, lightgrey 100%);*/
  border-radius: 5px;
  padding: 20px 0px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left;

}
.top_panneau {
  font-family: 'Titillium Web', sans-serif;
  
}
.TICE {
  background-color: lightskyblue;
}
.numedu {
  background-color: lightskyblue;
  transform: skewX(-10deg);
  margin: 0px 10px;
  padding: 0px 10px;
}
.ressources {
  background-color :lightgreen;
  transform: skewX(-10deg);
  margin: 0px 10px;
  padding: 0px 10px;
}
.evenements {
  background-color: lightsalmon;
  transform: skewX(-10deg);
  margin: 0px 10px;
  padding: 0px 10px;
}
.panneau.a hover{
  text-decoration: none;
}
.infos {
  margin : 0 10px;
}
.evenement {
   margin: 0;
   overflow: hidden;
}
.infos.reduit,
.description.reduit,
.lieu.reduit,
.horaires.reduit,
.image.reduit,
.evenement.reduit,
.inscription.reduit,
.plusinfos.reduit,
hr.reduit {
  display: none;
}
.date.reduit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding : 0px 10px;
}
.type {
  text-align : right;
  color: darkred;
  margin-right: 2px;
}
.titre {
  font-family: 'Titillium Web', sans-serif;
  color: darkslategrey;
  font-size:x-large ;
  text-align: left;
  font-style: italic;
  padding : 0 5px;
 /* margin-top: -10px;*/
  text-transform: uppercase;
  /*désactive la sélection du titre*/
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none; 
  -o-user-select: none;
  user-select: none; 
}
.description {
  font-size: medium;
  box-sizing: content-box;
  text-align: justify !important;
  
}
.lieu {
  padding-top: 6px;
  font-weight: bold !important;
  font-size: medium;
}

.horaires {
  font-weight: bold !important;
  font-size: medium;
  padding-top: 6px;
  text-align: right;
}
.separateur {
	border-top: 1px dashed #8c8b8b;
  width: 100%;
}
.date {
   background-color: whitesmoke;
   transform : skewX(-10deg);
   margin-left: -15px;
}
.jour {
  font-size: 3em;
  margin-top: -8px;
  padding-left:20px;
  font-stretch: condensed !important;
  color:lightskyblue;
  text-align: center;
}
/*.mois {
  font-size: small;
  text-transform: uppercase;
  margin-top: -15px;
  color: white;
}*/
/*.circle {
  background: darkslategrey;
  display: table-cell;
  margin: -15px 10px 0 -15px;
  width: 80px;
  height:80px;
  border-radius: 50%;
  text-align: center;
  position: relative;
}*/
.inscription {
  color: whitesmoke;
  font-size: small;
  float: right;
  margin-right:-4px;
  width: 120px;
}
.plusinfos {
  float:right;
  margin-left:-4px;
}
.carre_100 {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.image {
  height: 100px;
  width: 100px;
  margin: 15px 0 0 0;
  object-fit: cover
  height: auto;

}


blockquote {
  white-space: pre-line;
}



/* Recherche et filtres */
[type="search"] {
   -webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
}
.searchbox {
  width:100%;
  margin: auto;
  padding-bottom: 60px;
  text-align: center;
  
}
.searchbox span {
  font-size: xx-large;
  color: grey;
  padding-right: 20px;
  top: 10px;
}
.find {
  font-size: x-large;
  width: 380px;
  margin-top: 70px;
  border-radius: 5px;
  margin-left:10px;
}
.searchbox label {
  display: inline-block;
  width:340px;
  padding-bottom: 20px;
  font-size: large;
  text-align: left;
  padding-left: 10px;
  
}
.filtres {
  padding-top: 30px;
}
.filtres div {
  padding-top:5px;
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  color:darkslategrey;
}

[type="checkbox"] {
    width: 20px;
    float: left;
}