/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Exo', sans-serif !important;
    text-align: center;
    background-color: whitesmoke !important;
}
.logo {
  width: 800px;
}
.container {
  float: left; 
  width: 100% !important;
  margin: 10px;
}
